/* Start Global Variables */
:root{
    --main-color: #19c8fa;
    --transition-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}



/* End Global Variables */

/* Global Rules */
* {
    padding: 0;
    margin: 0;
}
/* END Global Rules */




/* Header Section */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;}

/* header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgb(167, 166, 166);
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
} */

header .logo img{
    height: 40px;
}

header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    list-style: none;
}

@media (max-width : 767px){
    header nav ul{
        display: none;
    }
}

header nav ul li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s;
    padding: 30px 20px;
}


header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

header nav .form{
    width: 50px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: solid black 1px;
    transform: translateY(-30%);
}

header nav .form i{
    color: black;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 0;

}

/* End Header Section */




/* Main Section */



/* End Main Section */



/* About Us Section */
.aboutus{
    padding-top: 300px;
    padding-bottom: 50px;

    
}
.aboutus h2{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 50px;
}
@media (max-width : 767px){
    .aboutus h2{
        font-size: 2.5rem;
    }
}
.aboutus p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

@media (max-width : 767px){
    .aboutus p{
        font-size: 1.5rem;
    }
}

/* End About Us Section */


/* Contact Us Section */
.contact{
    padding-top: 50px;
    padding-bottom: 50px;

    
}
.contact h2{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 50px;
}
@media (max-width : 767px){
    .contact h2{
        font-size: 2.5rem;
    }
}
.contact p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

@media (max-width : 767px){
    .contact p{
        font-size: 1.5rem;
    }
}

.contact .content{
    display: flex;
    justify-content: space-between;
}

@media (max-width : 767px){
    .contact .content{
        flex-direction: column;
    }
}
.contact .content form{
    flex-basis: 70%;
}

.contact .content form .main-input{
    padding : 20px;
    display:block;
    border: 1px solid #CCC;
    margin-bottom: 30px;
    width:100%;
}
.contact .content form .main-input:focus{
    outline: none;
}
.contact .content form textarea.main-input{
    height: 200px;
}

.contact .content form input[type="submit"]{
    background-color: blue;
    color:white;
    padding: 20px;
    display: flex;
    border: none;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}


.contact .content .info{
flex-basis: 25%;
}

@media (max-width : 767px){
    .contact .content .info{
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2){
margin-top: 90px;
}

@media (max-width : 767px){
    .contact .content .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}

.contact .content .info address{
    color: #777;
    line-height: 1.5;
}

@media (max-width : 767px){
    .contact .content .info address{
        margin-bottom: 30px;
    }
}